.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.cf * {
  zoom: 1; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  max-width: 100%; }

header, main, footer,
table, figure, blockquote, pre, ul, ol {
  margin-bottom: 0; }
  p + header, p + main, p + footer, p +
  table, p + figure, p + blockquote, p + pre, p + ul, p + ol {
    margin-top: 0; }

picture {
  display: block; }

li ol, li ul {
  margin-bottom: 0; }

a {
  text-decoration: none;
  cursor: pointer; }

input, button, textarea, select {
  font: inherit;
  appearance: none; }
  input:focus, button:focus, textarea:focus, select:focus {
    appearance: none; }

input[type=checkbox] {
  appearance: checkbox; }

input[type=radio] {
  appearance: radio; }

/*Usage
  @include keyframes(move-the-object) {
    0%   { left: 100px; }
    100% { left: 200px; }
  }

  @mixin move-the-object {
    @include animate(move-the-object, 0.6s, infinite, normal);
  } */
@font-face {
  font-family: 'avenir';
  src: url("/fonts/Avenir-Book.eot?#iefix") format("embedded-opentype"), url("/fonts/Avenir-Book.woff") format("woff"), url("/fonts/Avenir-Book.ttf") format("truetype"), url("/fonts/Avenir-Book.svg#Avenir-Book") format("svg");
  font-weight: normal;
  font-style: normal; }

h1 {
  font-size: 36px;
  font-weight: 700; }

p {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px; }

body, html {
  height: 100%; }

body {
  margin: 0px;
  padding: 0px;
  font-family: "avenir", Helvetica, Arial, sans-serif;
  background-color: #fff;
  /*  -webkit-user-select: none; */ }

article {
  position: relative;
  background-color: #ffffff; }

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 2;
  opacity: 0; }

.container {
  width: 1024px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  height: inherit; }
  .container:after {
    display: block;
    clear: both;
    content: ""; }

.col-2 {
  width: 50%;
  float: left; }
  .col-2.col-has-image {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0; }
  .col-2 h1 {
    margin-top: 220px; }
  .col-2 h1, .col-2 p {
    padding: 0 100px 0 0; }
  .col-2.pull-right h1, .col-2.pull-right p {
    padding: 0 0 0 100px; }

.aw-chat-feature, .aw-team-feature, .aw-update-feature {
  height: 600px; }

.aw-footer-nav h3 {
  color: rgba(255, 255, 255, 0.2);
  margin-bottom: 20px; }

.aw-footer-menu {
  list-style-type: none; }
  .aw-footer-menu > li {
    line-height: 36px; }
    .aw-footer-menu > li > a {
      color: #ffffff;
      cursor: pointer; }

@-webkit-keyframes flipper {
  from {
    -webkit-transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(-360deg); } }

@-moz-keyframes flipper {
  from {
    -webkit-transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(-360deg); } }

@-o-keyframes flipper {
  from {
    -webkit-transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(-360deg); } }

@keyframes flipper {
  from {
    -webkit-transform: rotateY(0deg); }
  to {
    -webkit-transform: rotateY(-360deg); } }

@-webkit-keyframes shake {
  0%, 100% {
    transform: translateX(0); }
  10%, 30%, 50% {
    transform: translateX(10px); }
  20%, 40%, 60% {
    transform: translateX(-10px); } }

@-moz-keyframes shake {
  0%, 100% {
    transform: translateX(0); }
  10%, 30%, 50% {
    transform: translateX(10px); }
  20%, 40%, 60% {
    transform: translateX(-10px); } }

@-o-keyframes shake {
  0%, 100% {
    transform: translateX(0); }
  10%, 30%, 50% {
    transform: translateX(10px); }
  20%, 40%, 60% {
    transform: translateX(-10px); } }

@keyframes shake {
  0%, 100% {
    transform: translateX(0); }
  10%, 30%, 50% {
    transform: translateX(10px); }
  20%, 40%, 60% {
    transform: translateX(-10px); } }

@-webkit-keyframes removed-item-animation {
  0% {
    opacity: 1;
    transform: rotateZ(0); }
  100% {
    opacity: 0;
    transform: translateY(600px) rotateZ(90deg); } }

@-moz-keyframes removed-item-animation {
  0% {
    opacity: 1;
    transform: rotateZ(0); }
  100% {
    opacity: 0;
    transform: translateY(600px) rotateZ(90deg); } }

@-o-keyframes removed-item-animation {
  0% {
    opacity: 1;
    transform: rotateZ(0); }
  100% {
    opacity: 0;
    transform: translateY(600px) rotateZ(90deg); } }

@keyframes removed-item-animation {
  0% {
    opacity: 1;
    transform: rotateZ(0); }
  100% {
    opacity: 0;
    transform: translateY(600px) rotateZ(90deg); } }

@-webkit-keyframes blinker {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-moz-keyframes blinker {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-o-keyframes blinker {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes blinker {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes wave {
  0% {
    transform: scale(0.8);
    opacity: 0.0; }
  25% {
    opacity: 0.0; }
  50% {
    opacity: 1.0; }
  75% {
    opacity: 1.0; }
  100% {
    transform: scale(1.3);
    opacity: 0.0; } }

@-moz-keyframes wave {
  0% {
    transform: scale(0.8);
    opacity: 0.0; }
  25% {
    opacity: 0.0; }
  50% {
    opacity: 1.0; }
  75% {
    opacity: 1.0; }
  100% {
    transform: scale(1.3);
    opacity: 0.0; } }

@-o-keyframes wave {
  0% {
    transform: scale(0.8);
    opacity: 0.0; }
  25% {
    opacity: 0.0; }
  50% {
    opacity: 1.0; }
  75% {
    opacity: 1.0; }
  100% {
    transform: scale(1.3);
    opacity: 0.0; } }

@keyframes wave {
  0% {
    transform: scale(0.8);
    opacity: 0.0; }
  25% {
    opacity: 0.0; }
  50% {
    opacity: 1.0; }
  75% {
    opacity: 1.0; }
  100% {
    transform: scale(1.3);
    opacity: 0.0; } }

@-webkit-keyframes pulsate {
  from {
    width: 1px;
    height: 1px;
    margin: 0;
    opacity: 1; }
  to {
    width: 50px;
    height: 50px;
    margin: -25px;
    opacity: 0; } }

@-moz-keyframes pulsate {
  from {
    width: 1px;
    height: 1px;
    margin: 0;
    opacity: 1; }
  to {
    width: 50px;
    height: 50px;
    margin: -25px;
    opacity: 0; } }

@-o-keyframes pulsate {
  from {
    width: 1px;
    height: 1px;
    margin: 0;
    opacity: 1; }
  to {
    width: 50px;
    height: 50px;
    margin: -25px;
    opacity: 0; } }

@keyframes pulsate {
  from {
    width: 1px;
    height: 1px;
    margin: 0;
    opacity: 1; }
  to {
    width: 50px;
    height: 50px;
    margin: -25px;
    opacity: 0; } }

.shake {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake;
  -webkit-animation-direction: both;
  -moz-animation-direction: both;
  -o-animation-direction: both;
  animation-direction: both; }

.wave {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: wave;
  -moz-animation-name: wave;
  -o-animation-name: wave;
  animation-name: wave;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  -o-animation-direction: normal;
  animation-direction: normal; }

.flipper {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: flipper;
  -moz-animation-name: flipper;
  -o-animation-name: flipper;
  animation-name: flipper;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  -o-animation-direction: normal;
  animation-direction: normal; }

.blinker {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: blinker;
  -moz-animation-name: blinker;
  -o-animation-name: blinker;
  animation-name: blinker;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  -o-animation-direction: normal;
  animation-direction: normal; }

.remove-item {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-name: remove-item;
  -moz-animation-name: remove-item;
  -o-animation-name: remove-item;
  animation-name: remove-item;
  -webkit-animation-direction: forwards;
  -moz-animation-direction: forwards;
  -o-animation-direction: forwards;
  animation-direction: forwards;
  transition: cubic-bezier(0.55, -0.04, 0.91, 0.94);
  /*transform origin is moved to the bottom left corner*/
  transform-origin: 0% 100%; }

.pulsate {
  -webkit-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
  -o-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: pulsate;
  -moz-animation-name: pulsate;
  -o-animation-name: pulsate;
  animation-name: pulsate;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  -o-animation-direction: normal;
  animation-direction: normal;
  border: 5px solid #000;
  border-radius: 50px; }

.btn {
  border: 0;
  outline: 0;
  padding: 14px 73px;
  border-radius: 74px;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer; }
  .btn.btn-primary {
    background-image: linear-gradient(-90deg, #00D2FF 0%, #3A7BD5 100%);
    color: #ffffff; }
  .btn.btn-oval {
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%; }

.input-group {
  width: 400px;
  height: 40px;
  margin: 0 auto;
  padding: 0 40px 0 25px;
  background-color: #ffffff;
  position: relative;
  border-radius: 20px;
  overflow: hidden; }
  .input-group input[type="text"] {
    border: 0;
    outline: 0;
    background-color: transparent;
    text-align: left;
    width: inherit;
    height: inherit; }
  .input-group .btn {
    position: absolute;
    top: 0;
    right: 0; }

.aw-hero-banner h1, .aw-why-section h1, .aw-hero-banner p, .aw-why-section p {
  color: #ffffff; }

.pull-right {
  float: right; }

.aw-hero-banner {
  text-align: center; }
  .aw-hero-banner .container {
    padding-top: calc(50vh + 50px); }
    .aw-hero-banner .container > h1 {
      margin-bottom: 5px; }
    .aw-hero-banner .container > p {
      padding: 0 20%;
      margin-bottom: 30px; }

.aw-why-section {
  background-image: linear-gradient(90deg, #00D2FF 0%, #3A7BD5 100%);
  text-align: center;
  padding: 130px 0px; }
  .aw-why-section .aw-mock-image {
    margin-bottom: 90px; }
  .aw-why-section h1 {
    max-width: 60%;
    margin: 0 auto 10px; }
  .aw-why-section p {
    max-width: 45%;
    margin: 0 auto; }

.aw-chat-feature .aw-chat-banner {
  right: 0; }

.aw-team-feature {
  background-color: #F6FAFE; }
  .aw-team-feature .pull-right {
    text-align: right; }

.aw-update-feature .aw-update-banner {
  right: 0; }

.aw-footer {
  background-color: #2B303B;
  text-align: center; }
  .aw-footer h1 {
    color: #ffffff;
    padding-top: 100px;
    margin-bottom: 40px; }
  .aw-footer .aw-footer-links {
    text-align: left;
    display: flex;
    margin-top: 100px;
    padding-bottom: 80px; }
    .aw-footer .aw-footer-links .aw-footer-nav {
      margin: 0 100px 0 0; }

.aw-hero-banner {
  height: 100vh;
  max-height: 850px;
  background-image: url("../images/hero-image.png");
  -webkit-background-size: 1280px 850px;
  -moz-background-size: 1280px 850px;
  -o-background-size: 1280px 850px;
  background-size: 1280px 850px;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  width: 100%; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .aw-hero-banner {
      background-image: url("../images/hero-image_2x.png"); } }

.aw-mock-image {
  width: 911px;
  height: 609px;
  margin: 0 auto;
  background-image: url("../images/aw-mockup-screen.png");
  -webkit-background-size: 915px 611px;
  -moz-background-size: 915px 611px;
  -o-background-size: 915px 611px;
  background-size: 915px 611px;
  background-repeat: no-repeat; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .aw-mock-image {
      background-image: url("../images/aw-mockup-screen_2x.png"); } }

.aw-chat-banner {
  height: 474px;
  background-image: url("../images/chat-content-image.png");
  -webkit-background-size: 612px 474px;
  -moz-background-size: 612px 474px;
  -o-background-size: 612px 474px;
  background-size: 612px 474px;
  background-repeat: no-repeat; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .aw-chat-banner {
      background-image: url("../images/chat-content-image_2x.png"); } }

.aw-team-banner {
  height: 474px;
  background-image: url("../images/team-content-image.png");
  -webkit-background-size: 612px 474px;
  -moz-background-size: 612px 474px;
  -o-background-size: 612px 474px;
  background-size: 612px 474px;
  background-repeat: no-repeat; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .aw-team-banner {
      background-image: url("../images/team-content-image_2x.png"); } }

.aw-update-banner {
  height: 474px;
  background-image: url("../images/update-content-image.png");
  -webkit-background-size: 612px 474px;
  -moz-background-size: 612px 474px;
  -o-background-size: 612px 474px;
  background-size: 612px 474px;
  background-repeat: no-repeat; }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .aw-update-banner {
      background-image: url("../images/update-content-image_2x.png"); } }
