.input-group{
  width: 400px;
  height: 40px;
  margin: 0 auto;
  padding: 0 40px 0 25px;
  background-color: $white;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  input[type="text"]{
    border: 0;
    outline: 0;
    background-color: transparent;
    text-align: left;
    width: inherit;
    height: inherit;
  }
  .btn{
    position: absolute;
    top: 0;
    right: 0;
  }
}
