// instead of using color names we use a name that describes where the color
// is used, like 'action-primary'. This makes the naming convention much more
// flexible for any future updates.



$white								: #ffffff;
$bg-primary-gradient 	: linear-gradient(90deg, #00D2FF 0%, #3A7BD5 100%);
$bg-primary					 	: #F6FAFE;
$bg-charade 					: #2B303B;
